.maim{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    animation: slideAndScale 1s ease forwards;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}
.para{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
}
p{
    text-align: center;
}